{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Start Content Page -->
<div class="container-fluid bg-light" style="min-height: 600px; padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-6 m-auto text-center">
            
        
            <h1 class="h1">Contacto</h1>
            <p>
                Contáctanos para obtener más información sobre nuestros servicios.
            </p>
        </div>
        
    </div>
    <br>
    <section class="bg-success d-flex justify-content-center align-items-center py-6" style="height: 100%;"> <!-- Centrado con flexbox -->
        <div class="container">
            <div class="row align-items-center text-center"> <!-- Centrado del contenido -->
                <div class="col-md-6 text-white">
                    <h4>Dirección</h4>
                    <p> C. Aldama 321 B, Centro, 36700 Salamanca, Gto.</p>
                    <h4>Teléfono</h4>
                    <p> 464 647 0167</p>
                    
                    
                    
                    <center><h4>Redes Sociales</h4>
                    <div>
                        <a class="text-light" href="https://www.facebook.com/cecem.salamanca.1/" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-3"></i></a>
                        <a class="text-light" href="https://www.instagram.com/cecem_salamanca/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-3"></i></a>
                        <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-3"></i></a>
                        <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div> 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.399331918912!2d-101.20662732258921!3d20.571743554263687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c85d234e1939b%3A0xe5991ad66702af55!2sCECEM%20Salamanca!5e0!3m2!1ses!2smx!4v1732138850375!5m2!1ses!2smx" 
                            width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
