{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    


    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{% static 'img/imagen2.jpg' %}" id="product-detail">
                    </div>
                    <div class="row">



                    </div>
                </div>
                <!-- INFO CURSO-->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <!-- NOMBRE-->
                            <h1 class="h2">Active Wear</h1>
                            <!-- INSTRUTOR-->
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Instructor:</h6>
                                </li>
                                
                            </ul>
                              <!-- DESCRIPCION-->
                            <h6>Descripción:</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet interdum quis nulla.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Horario:</h6>
                                </li>
                                
                            </ul>
                            <!-- Contacto-->
                            <h6>Contacto:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Lorem ipsum dolor sit</li>
                               
                            </ul>

                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->



    

    <!-- Start Slider Script -->
    <script src="assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->

</body>
{% endblock %}
</html>